@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Forum Index";
}



    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 col-md-offset-1">
                <h1>join the conversation.</h1>
                <table id="forum-index-table" class="page-table table table-striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Submitted On</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var db = Database.Open("dbConnection");
                            var dbCommand = "SELECT TOP 10 dbo.Threads.Title, dbo.Threads.Date, dbo.Users.UserName " +
                                            "FROM dbo.Threads INNER JOIN dbo.Users " +
                                            "ON dbo.Threads.UserID=dbo.Users.UserID " +
                                            "ORDER BY Date DESC";
                            var query = db.Query(dbCommand);

                            foreach (var row in query)
                            {
                                var Title = row.Title;
                                var Author = row.UserName;
                                var Date = row.Date;
                                <tr>
                                    <td>@Title</td>
                                    <td>@Author</td>
                                    <td>@Date</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

                <button id="new-thread-btn" type="button" class="btn btn-success">New Thread </button>
                <span class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        Sort Order
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Newest</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Oldest</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Most Comments</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Hottest</a></li>
                    </ul>
                </span>
            </div>
            <div class="col-md-3">
                <br><br>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Top Posters</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <tbody>
                                @{
                                    var userCommand = "SELECT TOP 5 UserName, PostCount " +
                                                        "FROM dbo.Users " +
                                                        "ORDER BY PostCount DESC ";
                                    var topUserQuery = db.Query(userCommand);

                                    foreach (var row in topUserQuery)
                                    {
                                        var user = row.UserName;
                                        var posts = row.PostCount;
                                        <tr>
                                            <td>@user</td>
                                            <td>@posts</td>
                                        </tr>
                                    }
                                    db.Close();
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
